<div class="d-flex flex-column align-items-center mt-3">
  
  <div class="align-items-center mb-5 logo text-center">
      <img src="../assets/logo.PNG" class="" alt="Responsive image">
  </div>
  <h2 class="text-primary mb-4">Sign-In</h2>
  <form>
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox mb-5">
      <label class="mb-0"><input type="checkbox" value="">&nbsp;Remember me</label>
      <button type="button" class="btn btn-link float-right pt-0" routerLink="/forgotPassword">Forgot Password</button> 
    </div>
    
  </form>

  <div>
    <button type="button" class="btn btn-lg btn-primary" routerLink="/signIn">Sign-In</button>
  </div>

</div>