<div class="d-flex flex-column align-items-center mt-3">
  
  <div class="align-items-center mb-5 logo text-center">
      <img src="../assets/logo.PNG" class="" alt="Responsive image">
  </div>
  <div *ngIf="loginSuccessMsg" style="color: green">User has been loggedin successfully</div>
    <div *ngIf="!loginSuccessMsg" style="color: red">Error occured</div>
  <h2 class="text-primary mb-4">Sign-In</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && formControls.email.errors }" id="usr">
      <div *ngIf="isSubmitted && formControls.email.errors" class="invalid-feedback">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors }" id="pwd">
      <div *ngIf="isSubmitted && formControls.password.errors" class="invalid-feedback">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="checkbox mb-5">
      <label class="mb-0"><input type="checkbox" value="">&nbsp;Remember me</label>
      <button type="button" class="btn btn-link float-right pt-0" routerLink="/forgotPassword">Forgot Password</button> 
    </div>
    <div>
      <button type="submit" class="btn btn-lg btn-primary">Sign-In</button>
    </div>
  </form>

  </div>
