<app-nav-menu></app-nav-menu>

<h3 class="text-primary mb-4 text-center">Emergency Contact Details</h3>
<h5 class="mx-4 text-secondary">Emergency 1</h5>
<div class="d-flex flex-row align-items-center mt-3 mx-2">
    <div class="form-group col-5">
        <label for="sel1">Country</label>
        <select class="form-control" id="sel1">
            <option>India(+91)</option>
            <option>Pakistan(+92)</option>
            <option>Bangladesh(+93)</option>
            <option>Sri Lanka(+94)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="usr">Mobile No.</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <div class="text-center mt-3 ml-2">
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
</div>

<h5 class="mx-4 text-secondary">Emergency 2</h5>
<div class="d-flex flex-row align-items-center mt-3 mx-2">
    <div class="form-group col-5">
        <label for="sel1">Country</label>
        <select class="form-control" id="sel1">
            <option>India(+91)</option>
            <option>Pakistan(+92)</option>
            <option>Bangladesh(+93)</option>
            <option>Sri Lanka(+94)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="usr">Mobile No.</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <div class="text-center mt-3 ml-2">
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
</div>