<app-nav-menu></app-nav-menu>

<h3 class="text-primary mb-4 text-center">Notification</h3>

<form>
    <div class="row mx-3">
      <div class="col-8">
          <label for="usr">WhatsApp Preferences</label>
      </div>
      <div class="col custom-control custom-switch text-right">
        <input type="checkbox" class="custom-control-input" id="WhatsApp" checked>
        <label class="custom-control-label" for="WhatsApp"></label>
      </div>
    </div>

    <div class="row mx-3">
      <div class="col-8">
          <label for="usr">Email Preferences</label>
      </div>
      <div class="col custom-control custom-switch text-right">
        <input type="checkbox" class="custom-control-input" id="email">
        <label class="custom-control-label" for="email"></label>
      </div>
    </div>

    <div class="row mx-3">
      <div class="col-8">
          <label for="usr">SMS Preferences</label>
      </div>
      <div class="col custom-control custom-switch text-right">
        <input type="checkbox" class="custom-control-input" id="sms" checked>
        <label class="custom-control-label" for="sms"></label>
      </div>
    </div>
</form>