<div class="d-flex flex-column align-items-center mt-3">
  <div class="align-items-center mb-5 logo text-center">
      <img src="../assets/logo.PNG" class="" alt="Responsive image">
  </div>
  <h3 class="text-primary mb-4">Forgot Password</h3>

  <form>
  <div class="form-group">
      <label for="sel1">Secret Question:</label>
      <select class="form-control" id="sel1">
        <option>Qns 1</option>
        <option>Qns 2</option>
        <option>Qns 3</option>
        <option>Qns 4</option>
      </select>
    </div>

    <div class="form-group mb-5">
      <label for="usr">Answer:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <hr />
    <div class="form-group">
      <label for="usr">Set Password:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group text-center">
      <h5>or</h5>
    </div>
    <div class="form-group text-center">
        <button type="button" class="btn btn-link">Send OTP</button>
    </div>
    <div class="form-group">
        <label for="usr">Enter OTP:</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <div class="mb-5">
      <button type="button" class="btn btn-link float-right pt-0" routerLink="/signIn">Back</button> 
    </div>
    
  </form>

  <div>
    <button type="button" class="btn btn-lg btn-primary" routerLink="/signIn">Sign-In</button>
  </div>

</div>