<div class="d-flex flex-column align-items-center mt-3">
    <div class="align-items-center mb-5 logo text-center">
        <img src="../assets/logo.PNG" class="" alt="Responsive image">
    </div>
    <h3 class="text-primary mb-4">Sign Up</h3>
  
    <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm)">
      <div class="form-group">
        <label for="usr">Full Name</label>
        <input type="text" formControlName="Name" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Email ID</label>
        <input type="text" formControlName="EmailId" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Mobile</label>
        <input type="text" formControlName="PhoneNo" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Employed In</label>
        <input type="text" formControlName="Employer" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">ID Proof</label>
        <input type="file" formControlName="Idproof" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Home Address 1</label>
        <input type="text" formControlName="Addr1" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Home Address 2</label>
        <input type="text" formControlName="Addr2" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="sel1">Country</label>
        <select class="form-control" id="sel1" formControlName="Country">
          <option>India</option>
          <option>Pakistan</option>
          <option>Srilanka</option>
          <option>Bangladesh</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel1">State</label>
        <select class="form-control" id="sel1" formControlName="State">
          <option>TamilNadu</option>
          <option>Kerala</option>
          <option>Karnataka</option>
          <option>Telangana</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel1">City</label>
        <select class="form-control" id="sel1" formControlName="City">
          <option>Chennai</option>
          <option>Madurai</option>
          <option>Coimbatore</option>
          <option>Trichy</option>
        </select>
      </div>
      <div class="form-group">
        <label for="usr">Zip Code</label>
        <input type="text" class="form-control" id="usr" formControlName="Zip">
      </div>
  
      <hr />
      
      <div class="form-group">
          <label for="usr">Vehicle Details</label>
          <div class="checkbox ml-3">
            <label class="mr-3"><input type="checkbox">&nbsp;Car</label>
            <label class="mb-0"><input type="checkbox">&nbsp;Bike</label>
          </div>
          <label for="usr">Type</label>
          <div class="radio ml-3">
            <label class="mr-3"><input type="radio" value="petrol" formControlName="isPetrol">&nbsp;Petrol</label>
            <label class="mb-0"><input type="radio" value="diesel" formControlName="isPetrol">&nbsp;Diesel</label>
          </div>
      </div>

      <div class="form-group">
        <label for="usr">Mileage/Litre</label>
        <input type="text" class="form-control" id="usr" formControlName="Mileage">
      </div>

      <div class="form-group">
        <label for="sel1">Make</label>
        <select class="form-control" id="sel1" formControlName="Make">
          <option>Toyota</option>
          <option>Maruthi</option>
          <option>Volkswagon</option>
          <option>Hyundai</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="sel1">Model</label>
        <select class="form-control" id="sel1" formControlName="Model">
          <option>Innova</option>
          <option>Swift</option>
          <option>Polo</option>
          <option>i20</option>
        </select>
      </div>

      <div class="form-group">
        <label for="usr">Register No.</label>
        <input type="text" class="form-control" id="usr" formControlName="RegNo">
      </div>
      
      <div class="form-group">
        <label for="usr">RC Book</label>
        <input type="file" class="form-control" id="usr" formControlName="RCBookCopy">
      </div>
      
      <div class="text-center mb-5 mt-5">
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
      
    </form>
  
    
  
  </div>