<div class="d-flex flex-column align-items-center mt-3">
  <div class="align-items-center mb-5 logo text-center">
      <img src="../assets/logo.PNG" class="" alt="Responsive image">
  </div>
  <h3 class="text-primary mb-4">Profile Password</h3>

  <form [formGroup]='profilePwdForm' (ngSubmit)="submit(profilePwdForm)">
  <div class="form-group">
      <label for="sel1">Secret Question:</label>
       <select class="form-control" id="sel1" formControlName="SecretQ1">
        <option value="First Car Name">First Car Name</option>
        <option value="Place of Birth">Place of Birth</option>
        <option value="Favourite Food">Favourite Food</option>
        <option value="Favourite Month">Favourite Month</option>
      </select>
    </div>

    <div class="form-group mb-5">
      <label for="usr">Answer:</label>
      <input type="text" class="form-control" id="usr" formControlName="SecretAns">
    </div>
    <hr />
    <div class="form-group">
      <label for="usr">Set Password:</label>
      <input type="text" class="form-control" id="usr" formControlName="PWD">
    </div>
    
    <div class="mb-5">
      <button type="button" class="btn btn-link float-right pt-0" routerLink="/signIn">Back</button> 
    </div>
    <div>
      <button type="submit" class="btn btn-lg btn-primary">Sign-In</button>
    </div>
    
  </form>
  
</div>